In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\KIRAN GHANTASALA\Downloads\india_housing_prices.csv")

In [3]:
df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,...,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,...,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,...,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move

In [4]:
categorical_cols = df.select_dtypes(include=["object"]).columns
numerical_cols = df.select_dtypes(include=["int64", "float64"]).columns

In [5]:
categorical_cols

Index(['State', 'City', 'Locality', 'Property_Type', 'Furnished_Status',
       'Public_Transport_Accessibility', 'Parking_Space', 'Security',
       'Amenities', 'Facing', 'Owner_Type', 'Availability_Status'],
      dtype='object')

In [6]:
numerical_cols

Index(['ID', 'BHK', 'Size_in_SqFt', 'Price_in_Lakhs', 'Price_per_SqFt',
       'Year_Built', 'Floor_No', 'Total_Floors', 'Age_of_Property',
       'Nearby_Schools', 'Nearby_Hospitals'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
for i in categorical_cols:
    df[i] = encoder.fit_transform(df[i])

In [8]:
df

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,15,6,483,0,1,4740,489.76,0.10,1990,...,35,10,3,0,0,0,238,3,2,0
1,2,11,33,434,1,3,2364,195.52,0.08,2008,...,17,8,1,1,0,1,211,1,1,1
2,3,13,25,75,0,2,3642,183.79,0.05,1997,...,28,9,8,1,1,0,63,2,0,0
3,4,14,21,326,1,2,2741,300.29,0.11,1991,...,34,5,7,0,1,1,206,1,1,0
4,5,14,19,407,2,4,4823,182.90,0.04,2002,...,23,4,9,1,0,1,222,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249996,5,0,97,1,5,1995,274.75,0.14,1995,...,30,8,6,1,0,0,220,0,0,1
249996,249997,15,6,276,0,1,2293,13.40,0.01,2013,...,12,8,10,1,0,0,195,2,0,0
249997,249998,16,41,140,2,4,2910,236.94,0.08,2003,...,22,10,4,0,1,1,195,2,1,1
249998,249999,12,8,43,2,1,1149,141.66,0.12,2007,...,18,3,7,1,1,1,239,2,2,0
249999,250000,6,14,187,1,3,4313,199.69,0.05,1990,...,35,10,6,2,0,0,147,2,2,1

In [9]:
X = df.drop("Price_in_Lakhs", axis=1)
y = df["Price_in_Lakhs"]

In [10]:
df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,15,6,483,0,1,4740,489.76,0.10,1990,...,35,10,3,0,0,0,238,3,2,0
1,2,11,33,434,1,3,2364,195.52,0.08,2008,...,17,8,1,1,0,1,211,1,1,1
2,3,13,25,75,0,2,3642,183.79,0.05,1997,...,28,9,8,1,1,0,63,2,0,0
3,4,14,21,326,1,2,2741,300.29,0.11,1991,...,34,5,7,0,1,1,206,1,1,0
4,5,14,19,407,2,4,4823,182.90,0.04,2002,...,23,4,9,1,0,1,222,0,1,0

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=45)

In [12]:
x_train.shape

(175000, 22)

In [13]:
x_test.shape

(75000, 22)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [15]:
x_train

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_per_SqFt,Year_Built,Furnished_Status,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
5150,5151,14,19,432,2,5,4945,0.09,2004,2,...,21,7,1,1,0,0,218,0,0,0
106261,106262,5,37,136,0,4,1869,0.12,2012,2,...,13,7,8,1,1,1,126,3,2,0
159961,159962,17,24,89,0,1,1315,0.36,2002,1,...,23,6,1,1,1,1,147,0,1,1
15332,15333,16,17,182,2,2,3700,0.04,1996,0,...,29,3,5,2,0,1,222,1,0,0
158781,158782,2,13,139,2,1,3932,0.07,1997,1,...,28,8,2,0,1,1,39,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143967,143968,14,19,334,1,5,2102,0.16,2013,2,...,12,7,8,1,0,0,173,1,1,0
60960,60961,0,39,374,1,2,876,0.46,2010,1,...,15,7,10,0,0,0,278,0,1,0
137084,137085,11,29,449,2,2,1362,0.03,2017,0,...,8,1,4,0,1,1,130,1,0,0
194179,194180,18,16,490,1,4,1656,0.12,2008,1,...,17,9,7,2,1,0,163,2,2,1
137630,137631,5,0,250,2,2,1342,0.28,2010,0,...,15,1,6,2,1,1,99,1,2,0

In [16]:
x_test

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_per_SqFt,Year_Built,Furnished_Status,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
144227,144228,9,38,446,1,4,4151,0.04,1993,1,...,32,5,10,0,1,0,65,1,0,1
82807,82808,7,35,339,2,2,528,0.36,2009,1,...,16,4,8,1,0,0,293,1,2,0
57902,57903,6,14,96,2,5,2220,0.18,2015,0,...,10,6,1,0,1,1,130,2,0,1
15618,15619,18,16,359,2,5,3885,0.12,1998,2,...,27,10,10,2,1,0,112,0,1,0
205634,205635,3,5,476,1,5,823,0.25,1990,1,...,35,7,9,0,0,0,84,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211700,211701,2,32,434,2,5,4672,0.09,2004,2,...,21,8,10,0,1,0,228,3,2,0
25965,25966,7,20,328,2,2,2226,0.07,2009,2,...,16,2,9,1,1,1,60,1,2,0
22491,22492,14,19,315,2,4,2085,0.20,2012,2,...,13,4,1,1,0,1,277,2,2,1
52702,52703,5,0,403,2,5,3244,0.08,1995,2,...,30,6,7,0,1,0,65,1,0,1
131599,131600,9,38,423,2,1,923,0.53,2011,1,...,14,9,5,2,0,1,307,1,0,1

In [17]:
x_train_scaled

array([[-1.65764771e+00,  7.75951108e-01, -1.05985029e-01, ...,
        -1.34182421e+00, -1.22387680e+00, -9.98789304e-01],
       [-2.57714392e-01, -7.84138856e-01,  1.37066495e+00, ...,
         1.34028136e+00,  1.22321958e+00, -9.98789304e-01],
       [ 4.85789472e-01,  1.29598110e+00,  3.04195522e-01, ...,
        -1.34182421e+00, -3.28610086e-04,  1.00121216e+00],
       ...,
       [ 1.69045749e-01,  2.55921120e-01,  7.14376073e-01, ...,
        -4.47789019e-01, -1.22387680e+00, -9.98789304e-01],
       [ 9.59555119e-01,  1.46932442e+00, -3.52093360e-01, ...,
         4.46246170e-01,  1.22321958e+00,  1.00121216e+00],
       [ 1.76605398e-01, -7.84138856e-01, -1.66467112e+00, ...,
        -4.47789019e-01,  1.22321958e+00, -9.98789304e-01]])

In [18]:
x_test_scaled

array([[ 0.26794422, -0.09076554,  1.45270107, ..., -0.44778902,
        -1.2238768 ,  1.00121216],
       [-0.58244697, -0.4374522 ,  1.20659273, ..., -0.44778902,
         1.22321958, -0.9987893 ],
       [-0.92726939, -0.61079553, -0.51616558, ...,  0.44624617,
        -1.2238768 ,  1.00121216],
       ...,
       [-1.41755273,  0.77595111, -0.10598503, ...,  0.44624617,
         1.22321958,  1.00121216],
       [-0.99926604, -0.78413886, -1.66467112, ..., -0.44778902,
        -1.2238768 ,  1.00121216],
       [ 0.09310313, -0.09076554,  1.45270107, ..., -0.44778902,
        -1.2238768 ,  1.00121216]])

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model = Sequential([
    Dense(64, activation="relu", input_shape=(x_train.shape[1],)),
    Dense(32, activation="relu"),
    Dense(1, activation="linear")  # Regression output
])

c:\Users\KIRAN GHANTASALA\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [20]:
from tensorflow.keras.optimizers import Adam
model.compile(
    optimizer=Adam(),
    loss="mse",
    metrics=["mae"]
)

In [21]:
history = model.fit(
    x_train,
    y_train,
    epochs=10,
    batch_size=32,
    validation_split=0.2,
    verbose=1
)

Epoch 1/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 11s 2ms/step - loss: 86868.3594 - mae: 165.4786 - val_loss: 27786.9727 - val_mae: 138.6829
Epoch 2/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 42674.5508 - mae: 162.1212 - val_loss: 20586.8262 - val_mae: 123.5598
Epoch 3/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 31714.0508 - mae: 145.3170 - val_loss: 74136.6953 - val_mae: 226.9456
Epoch 4/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 27316.4590 - mae: 136.8391 - val_loss: 21201.6152 - val_mae: 124.9319
Epoch 5/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 24460.3086 - mae: 131.2493 - val_loss: 22045.1738 - val_mae: 126.7105
Epoch 6/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 22990.3906 - mae: 128.1755 - val_loss: 20974.8203 - val_mae: 124.2731
Epoch 7/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 21433.1719 - mae: 125.1366 - val_loss: 24475.8574 - val_mae: 131.8805
Epoch 8/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 20617.6973 - mae: 123.5764 - val_loss: 20171.9395 - val_mae: 122.9712
Epoch 9/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 10s 2ms/step - loss: 20411.1035 - mae: 123.1922 - val_loss: 21362.2871 - val_mae: 125.2186
Epoch 10/10
4375/4375 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 20357.2324 - mae: 123.0819 - val_loss: 20867.0801 - val_mae: 124.4113

In [22]:
loss, mae = model.evaluate(x_test, y_test)
print("Test MAE:", mae)

2344/2344 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - loss: 20799.9941 - mae: 124.1575
Test MAE: 124.15747833251953

In [23]:
y_pred = model.predict(x_test)
print("Predicted Prices:", y_pred[:5])

2344/2344 ━━━━━━━━━━━━━━━━━━━━ 2s 767us/step
Predicted Prices: [[276.16675]
 [291.2912 ]
 [281.52118]
 [278.14117]
 [287.1832 ]]